    {% load static %}
   
    <link rel="stylesheet" href="{% static 'css/all.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'csc/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/admin/autocomplete.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/admin/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/admin/changelists.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/admin/dashboard.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/admin/fonts.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/admin/forms.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/admin/login.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/admin/responsive.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/admin/responsive_rtl.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/admin/rtl.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/admin/widgets.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/admin/vendor/select2.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/admin/vendor/select2.min.css' %}"/>
    <script src="https://kit.fontawesome.com/ea76df851b.js"></script>
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
