{% load static %}
<!-- JavaScript files-->
<script src="{% static 'script/actions.js' %}"></script>
<script src="{% static 'script/actions.min.js' %}"></script>
<script src="{% static 'script/autocomplete.js' %}"></script>
<script src="{% static 'script/bootstrap.bundle.js' %}"></script>
<script src="{% static 'script/calendar.js' %}"></script>
<script src="{% static 'script/cancel.js' %}"></script>
<script src="{% static 'script/change_form.js' %}"></script>
<script src="{% static 'script/collapse.js' %}"></script>
<script src="{% static 'script/collapse.min.js' %}"></script>
<script src="{% static 'script/core.js' %}"></script>
<script src="{% static 'script/DateTimeShortcuts.js' %}"></script>
<script src="{% static 'script/inlines.js' %}"></script>
<script src="{% static 'script/inlines.min.js' %}"></script>
<script src="{% static 'script/jquery.init.js' %}"></script>
<script src="{% static 'script/jquery.js' %}"></script>
<script src="{% static 'script/jquery.min.js' %}"></script>
<script src="{% static 'script/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'script/lightbox.min.js' %}"></script>
<script src="{% static 'script/main.js' %}"></script>
<script src="{% static 'script/popup_response.js' %}"></script>
<script src="{% static 'script/prepopulate.js' %}"></script>
<script src="{% static 'script/prepopulate.min.js' %}"></script>
<script src="{% static 'script/prepopulate_init.js' %}"></script>
<script src="{% static 'script/RelatedObjectLookups.js' %}"></script>
<script src="{% static 'script/select2.full.js' %}"></script>
<script src="{% static 'script/select2.full.min.js' %}"></script>
<script src="{% static 'script/SelectBox.js' %}"></script>
<script src="{% static 'script/SelectFilter2.js' %}"></script>
<script src="{% static 'script/timeparse.js' %}"></script>
<script src="{% static 'script/urlify.js' %}"></script>
<script src="{% static 'script/xregexp.js' %}"></script>
<script src="{% static 'script/xregexp.min.js' %}"></script>
